html {
    overflow-y: scroll;
}

body{
    position: absolute;
}

tr.cellaPrenotazioni:hover{
    background: #1dff31;
}

div.listaPrenotazioni{
    background: #68bdff;
    border-radius: 8px;
    margin: 5px;
}

button.goDashboard{
    position: absolute;
    left: 600px;
    font-size: 120%;
    top: 90px;
}
